@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Microsoft Campus
    Thames Valley Park
    Reading
    RG6 1WG
</address>

<address>
    <strong>Phone:</strong> <a href="tel:03448002400">+44 344 800 2400</a><br />
</address>
